html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1A3C40;
    color: #EDE6DB !important;
}

body table {
    color: #EDE6DB !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #EDE6DB !important;
}

.btn-danger,
.btn-warning,
.btn-primary {
    background-color: #1D5C63;
    color: #EDE6DB !important;
    border-color: #A7C4BC;
}

@media screen and (max-width:766px) { 
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}